<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= cdnjs_include_tag Rails.application.config.cdnjs %>
  <script id="bookTemplate" type="text/template">
    <img src="{{ cover_image.cover_image.url }}"/>
    <ul>
      <li>{{ title }}</li>
      <li>{{ author }}</li>
      <li>{{ releaseDate }}</li>
      <li>{{ keywords }}</li>
    </ul>
    <button class="delete">Delete</button>
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
